.about {
    background-image: url('../../assets/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &_title{
        color: #d2cfb4;
        font-size: 30px;
        padding: 5px;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }

    &_content {
        color: var(--blue-theme-sub-text-color);
        font-size: 20px;
        margin-bottom: 20px;
        padding: 10px;
        display: flex;
        gap: 14px;
    }
}