.scrollStyle {
    position: relative;

    &_scroll_top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 45px;
        height: 45px;
        background: #680000;
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;

        &:hover {
            background: #8b0000;
        }
    }
}

@media only screen and (max-width: 768px) {
    .scrollStyle_scroll_top {
        right: 83px;
        bottom: 15px;
        width: 38px;
        height: 38px;
    }
}

@media only screen and (max-width: 1024px) {
    .scrollStyle_scroll_top {
        right: 85px;
        bottom: 15px;
        width: 38px;
        height: 38px;
    }
}