.gallery {
    padding: 3px 21px 16px 14px;

    &__title {
        text-align: center;
        font-size: 32px;
        margin-bottom: 30px;
        color: var(--blue-theme-main-color);
    }

    /* Masonry Grid */
    &__grid {
        display: flex;
        margin-left: -20px;
    }

    &__column {
        padding-left: 20px;
    }

    /* Gallery Item */
    &__item {
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 12px;

        img {
            width: 100%;
            display: block;
            border-radius: 12px;
            transition: transform 0.4s ease;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }
}