.gallery {
    padding: 20px;

    &__title {
        text-align: center;
        font-size: 32px;
        margin-bottom: 40px;
        color: var(--blue-theme-main-color);
    }

    /* Masonry Grid */
    &__grid {
        display: flex;
        margin-left: -20px;
    }

    &__column {
        padding-left: 20px;
    }

    /* Gallery Item */
    &__item {
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 12px;
        background: #111;
    }

    &__item img,
    &__item video {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 12px;
        object-fit: cover;
        transition: transform 0.4s ease;
        aspect-ratio: 3 / 4;
    }

    &__item:hover img,
    &__item:hover video {
        transform: scale(1.05);
    }
}