.contact {
    &_content {
        padding: 20px;

        &_header-text {
            color: var(--blue-theme-sub-text-color);
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1rem;
            position: relative;
            letter-spacing: 0.5px;
            padding: 5px 10px;
            border-bottom: 2px solid var(--blue-theme-main-color);
            text-transform: uppercase;
        }

        &_header-text::before,
        &_header-text::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 5px;
            background-color: var(--blue-theme-main-color);
            bottom: -1px;
        }

        &_header-text::before {
            left: 0;
        }

        &_header-text::after {
            right: 0;
        }

        &_form {
            &_controlwrapper {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 35px;
                margin-bottom: 30px;
                margin-top: 40px;

                div {
                    position: relative;

                    .inputName,
                    .inputEmail,
                    .inputDescription {
                        width: 100%;
                        border: 2px solid var(--blue-theme-main-color);
                        padding: 16px 12px;
                        transition: all 0.5s ease;
                        color: var(--blue-theme-sub-text-color);
                        position: relative;
                        background-color: transparent;
                    }

                    .nameLabel,
                    .emailLabel,
                    .descriptionLabel {
                        font-weight: 500;
                        position: absolute;
                        top: 7px;
                        left: 12px;
                        transition: all 0.2s ease;
                        color: var(--blue-theme-sub-text-color);
                        font-size: 16px;
                    }

                    .inputName:focus,
                    .inputEmail:focus,
                    .inputDescription:focus {
                        outline: none;
                    }

                    .inputName:focus+.nameLabel,
                    .inputName:valid+.nameLabel,
                    .inputEmail:focus+.emailLabel,
                    .inputEmail:valid+.emailLabel,
                    .inputDescription:focus+.descriptionLabel,
                    .inputDescription:valid+.descriptionLabel {
                        font-size: 18px;
                        top: -25px;
                        left: 0px;
                    }
                }
            }
        }

        button {
            cursor: pointer;
            padding: 10px 20px;
            font-size: 2rem;
            background-color: transparent;
            color: var(--blue-theme-main-color);
            border: 1.5px solid var(--blue-theme-main-color);
            border-radius: 4px;
            font-weight: 500;

            &:hover {
                background-color: var(--blue-theme-sub-text-color);
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .contact_content_form {
        text-align: center;

        &_controlwrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}