.home {
    &_mainImg {
        width: 100%;
        height: 100vh;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &_title {
        position: absolute;
        top: 140px;
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #2c2c2c;
        font-family: 'Playfair Display', serif;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid #c8a96a;
        width: 0;
        animation: typing 3s steps(30, end) forwards;
        margin-left: 22px;
    }
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 50ch;
        border-right: none;
    }
}

@media only screen and (max-width: 768px) {
    .home {
        &_title {
            top: 53px;
            font-size: 20px;
            white-space: normal;
            width: auto;
            border-right: none;
            animation: none;
        }
    }
}