* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    // overflow-x: hidden;
    scroll-behavior: smooth;
}

.App {
    height: 100vh;

    &_main-page-contain {
        min-height: calc(100vh - 80px); // safer
    }
}